/* Global styling */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    --color-white: #F7F8FB;
    --section-light: #ebf1f5;
    --section-dark: #043863;
    --color-blue: #6CB7FF;
    --color-green: #01FFD5;
    background-color: var(--color-white);
}

::selection {
    background: var(--color-green);
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: var(--section-dark);
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: var(--section-dark);
}

h1 {
    font-size: 65px;
    font-weight: 600;
    color: var(--color-white);
}

h2 {
    font-size: 40px;
    font-weight: 600;
    padding-top: 50px;
    margin: 0;
}

h3 {
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 0.7em;
}

h4 {
    font-weight: 600;
    font-size: 22px;
    margin: 0;
}

h6 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

.bg-light {
    background-color: var(--section-light);
}

.bg-dark {
    background-color: var(--section-dark);
}

.bg-dark h2, .bg-dark h3, .bg-dark p {
    color: var(--color-white);
}

nav ul {
    list-style-type: none;
    margin: auto;
    width: fit-content;
}

nav li {
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 0 20px;

}

nav li a {
    display: block;
    color: var(--color-white);
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

nav li:hover {
    border-bottom: 5px solid var(--color-green);
}

nav li:active {
    background-color: var(--color-green);
}

.active {
    color: var(--section-dark);
}

button {
    width: 154px;
    height: 52px;
    background-color: #ffffff;
    border: 3px solid var(--color-blue);
    border-radius: 25px;
    font-family: 'Quicksand', sans-serif;
    color: var(--section-dark);
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 3px 6px 0 #0000001c;
}

a {
    text-decoration: none;
    color: var(--section-dark);
}

.scroll {
    width: 60px;
    height: 60px;
    box-shadow: 0 3px 6px 0 #0000001c;
    background-color: var(--color-white);
    border-radius: 50%;
    position: absolute;
    left: 48.5%;
    top: 88vh;
}

.scroll .icon {
    color: var(--section-dark);
    margin: 12px;
}

.icon {
    font-size: 40px;
    color: var(--color-white);
}

footer {
    background-image: url(../img/footer2.jpg);
    /* Lukas, 2017, arbejde baerbar computer data [ONLINE]. Available at: https://www.pexels.com/da-dk/foto/arbejde-baerbar-computer-computer-data-574073/ [Accessed 30 April 2020]. */
    background-size: cover;
    max-width: 100%;
}

footer .icon {
    padding-right: 20px;
    padding-top: 10px;
}

.contact {
    margin: 0 18vw;
}


.contact-info div, .contact-info a {
    display: flex;
    height: 80px;
}

.copyright {
    height: 60px;
    width: 100%;
    background-color: var(--section-dark);
    text-align: center;
}

.copyright p {
    color: var(--color-white);
    margin: 0;
    padding: 19px;
}

.line {
    background-color: var(--color-green);
    width: 80px;
    height: 4px;
}

/* --------------Landing page -----------------*/
.hero {
    background-image: url(../img/hero-bg.jpg);
    /* Pixabay, 2017, baerbar computer drink kop krus [ONLINE]. Available at: https://www.pexels.com/da-dk/foto/baerbar-computer-drink-kop-krus-434337/ [Accessed 30 April 2020]. */
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    background-position: center;
}

.hero-text {
    color: var(--color-white);
    padding: 13% 0 0 13%;
    width: 55%;
}

.hero-text p {
    font-size: 30px;
    color: var(--color-white);
}

.trekant {
	border-right: 100vw solid transparent;
    border-bottom: 17vh solid var(--color-white);
    position: absolute;
    bottom: -17px;
}

.lp-profile {
    margin: 5vh 18vw;
    display: flex;
}

.lp-profile img {
    height: 340px;
}

.lp-profile-text {
    margin: 0 0 0 88px;
}

.kompetencer {
    padding: 1vh 0;
}

.center-text h2, .center-text h3{
    text-align: center;
}

.boxes {
    margin: 5vh 18vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    background-color: var(--color-white);
    width: 48%;
    margin: 2% 0;
    box-shadow: 0 3px 6px 0 #0000001c;
    display: flex;
}

.ikoner {
    padding: 75px 20px;
}

.ikoner:before {
    font-size: 50px;
    background: -webkit-linear-gradient(var(--color-blue), var(--color-green));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-mobile {
    transform: translate(-70px, 10px);
}

.box-text {
    padding: 20px;
}

/* --------------Profil side -----------------*/
.banner {
    background-image: url(../img/header.jpg);
    /* picjumbo.com, 2016, Close up design [ONLINE]. Available at: https://www.pexels.com/da-dk/foto/beroringsskaerm-close-up-design-designer-196644/ [Accessed 30 April 2020]. */
    background-size: cover;
    max-width: 100%;
    height: 350px;
}

.banner h1 {
    padding: 138px 0;
    text-align: center;
    margin: 0;
}

.profile {
    padding: 5vh 18vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile div {
    width: 40vw;
}

.profile img {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 49vh;
}

.profile .glass {
    height: 36vh;
}

.profile .person {
    width: 35vw;
}


/* --------------Portfolio side -----------------*/
.pf-intro {
    width: 100%;
    padding: 5vh 18vw;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5vh 18vw;
    justify-content: space-between;
}

.cases {
    height: 55vh;
    width: 48%;
    background-color: var(--color-white);
    box-shadow: 0 3px 6px 0 #0000001c;
    margin-bottom: 5vh;
}

.green-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--color-green);
}

.knapper {
    margin-top: 50px;
    display: flex;
}

.knapper button {
    margin-right: 20px;
}

.umf {
    background-image: url(../img/imgGallery-umf1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F2561D;
}

.diabetes {
    background-image: url(../img/imgGallery-df1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #A10713;
}

.crossfit {
    background-image: url(../img/imgGallery-cfaa1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #57C7F2;
}

.gradient {
    background-image: linear-gradient( #00000000, var(--section-dark));
    height: 55vh;
    width: 48%;
    padding: 0 20px 0 20px;
    display: table-cell;
    vertical-align: bottom;
}

.gradient h4 {
    color: var(--color-white);
}

.white {
    color: var(--color-white);
    display: none;
}

.gradient:hover .white {
    display: block;
}

/* --------------Case Studies side -----------------*/
.projektet {grid-area: projekt;}
.processen {grid-area: proces;}
.realiseringen {grid-area: realisering;}
.procesImg {grid-area: procesImg; justify-self: center;}
.ansvar {grid-area: ansvar;}
.tools {grid-area: tools;}
.projektLink {grid-area: links;
    justify-self: end;}

.case-info {
    padding: 0 20px;
}

.projektLink button {
    display: block;
    margin: 20px 0;
}

.caseStudy {
    margin: 5vh 18vw;
    display: grid;
    grid-template-areas: 
    'projekt ansvar'
    'proces tools'
    'procesImg procesImg'
    'realisering links';
    grid-column-gap: 40px;
    grid-template-columns: 70% 30%;
}

rect {
    fill: var(--color-green);
}

.case-info li {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 1.3;
}

.imgGallery {
    background-color: var(--section-dark);
    min-height: 80vh;
    padding: 100px 50px;
}


.imgBox {
    display: grid;
    grid-template-columns: 21% 21% 21% 21%;
}

.imgBoxApp {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.imgBox img {
    transform: perspective(1000px) rotateY(20deg);
    transition: .5s all ease-in-out;
}

.imgBox img:hover {
    transform: perspective(0) rotateY(0) scale(1.2);
    transition: .5s all ease-in-out;
    z-index: 5;
}



/* --------------Media Queries -----------------*/
@media screen and (max-width: 600px) {
    p {
        font-size: 16px;
    }

    nav li {
        font-size: 18px;
        padding: 0;
    }

    .hero-text {
        padding: 13% 13%;
        width: 100%;
    }

    .lp-profile {
        margin: 20px;
    }

    .lp-profile img {
        display: none;
    }

    .lp-profile-text {
        margin: 0;
    }

    .boxes {
        margin: 20px;
    }

    .box {
        display: block;
    }

    .ikoner {
        padding: 12% 35%;
    }

    .contact {
        margin: 20px;
    }

    .profile {
        padding: 20px;
    }

    .profile div {
        width: 100%;
    }

    .profile .person {
        width: 100%;
    }

    .pf-intro {
        padding: 20px;
    }

    .portfolio {
        padding: 20px;
    }

}